* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

header {
   background-color: blueviolet;
   padding: 50px 0px 0px;

}

nav {
   background-color: rgb(164, 113, 211);
   text-align: center;
}

header li {
   display: inline-block;

}

header li a {
   display: block;
   padding: 10px 20px;
   text-decoration: none;
   color: black;
   text-transform: uppercase;

}

header li a:hover {
   color: rgb(81, 7, 150);
}

header li ul li {
   display: block;
   position: relative;


}

header li ul {
   position: absolute;
   background-color: rgb(164, 113, 211);
   width: 150px;
   display: none;
}

header li:hover>ul {
   display: block;
}

header li ul li ul {
   left: 150px;
   top: 0px;
}